In [2]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.8.6-cp38-cp38-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.6
Note: you may need to restart the kernel to use updated packages.

In [4]:
import psycopg2
from getpass import getpass

In [13]:
conn = psycopg2.connect(dbname = 'car_showroom', user = 'postgres',
                       password = 'masterkey', host = 'localhost')

In [14]:
cursor = conn.cursor()

cursor.execute('SELECT * FROM car')
records = cursor.fetchall()

In [15]:
records

[(1, 'BMW', 'X5', 'Gasolin', Decimal('3.0')),
 (2, 'BMW', 'X5', 'Gasoline', Decimal('3.5')),
 (3, 'BMW', 'X5', 'Diesel', Decimal('3.0'))]

In [16]:
import pandas as pd

In [17]:
select_query = "SELECT * FROM car"
column_names = ["id_c", "brend", "model", "engine_type", "engine_vol"]

try:
    cursor.execute(select_query)
except (Exception, psycopg2.DatabaseError) or error:
    print("Error: %s" % error)
    cursor.close

tupples = cursor.fetchall()
cursor.close()


df = pd.DataFrame(tupples, columns=column_names)

In [18]:
df

   id_c brend model engine_type engine_vol
0     1   BMW    X5     Gasolin        3.0
1     2   BMW    X5    Gasoline        3.5
2     3   BMW    X5      Diesel        3.0